.container {
    display: flex;
}
.map-box {
    width: 66%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.logo {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
}
.banner-info {
    position: absolute;
    z-index: 2;
    bottom: -5px;
    left: 0;
}
.left-box {
    width: 34%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate3d(0,0,0);
    transition: .2s ease-out;
    display: flex;
}
.filter.active {
    transform: translate3d(-100%,0,0);
}
.filter-content {
    flex: 1;
    padding: 70px 50px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-direction: column;
    overflow: auto;
}
.more-info {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate3d(100%,0,0);
    transition: .2s ease-out;
    display: flex;
}
.more-info.active {
    transform: translate3d(0,0,0);
}
.more-info-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 70px 50px;
    flex-direction: column;
    overflow: auto;
    font-size: 16px;
}
.more-info-head {
    color: #00bcd5;
    margin-bottom: 5px;
}
.more-info-address {
    margin-bottom: 20px;
}
.info-window-img-box {
    width: 200px;
    height: 225px;
}
.info-window-img {
    width: 223px;
    height: 223px;
    position: absolute;
    z-index: 1000;
}
.info-window-img img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.info-services {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.more-info-img {
    width: 300px;
    height: 300px;
}
.more-service-item {
    margin: 5px 5px 5px 0;
}
.more-service-item span {
    margin-right: 5px;
    color: #ffdd00;
}
.more-price-and-count {
    display: flex;
    flex-wrap: wrap;
}
.info-window-content {
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0 0 0;
    color: #00bcd5;
    width: 200px;
}
.info-window-address {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 5px 0;
    width: 200px;
}
.search-count {
    margin-left: 10px;
}
.info-window-price {
    font-size: 12px;
    margin: 10px 0 10px 0;
}
.info-service-item {
    margin-right: 3px;
}
.info-service-item span {
    margin-right: 3px;
    color: #ffdd00;
}
h1 {
    font-size: 30px;
    font-weight: bold;
}
.gm-style-iw + div {display: none;}


/* Range */
.progress-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.progress-text {
    font-weight: 400;
    margin-left: 10px;
}
.progress {
    position: relative;
    width: 80px;
    height: 10px;
    overflow: hidden;
    background: #ff3232;
    background: linear-gradient(to right, green 0%,#ffff00 70%,red 100%);
}
.progress-2 {
    background: linear-gradient(to right, red 0%,red 100%);
}
.strips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, transparent 0%, transparent 50%, #fff 50%, #fff 100%);
    background-size: 4px 100%; /* Ширина деления = 6px / 2 = 3px */
}
.grayback {
    position: relative;
    left: 75%; /* Текущее состояние */
    width: 100%;
    height: 100%;
    background-color: #ddd;
}
.grayback-2 {
    left: 40%;
}
.grayback-3 {
    left: 100%;
}
.price-text {
    font-weight: bold;
}
.place-choice {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.date-choice {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin: 20px 0;
}
.filter-title {
    font-size: 18px;
    color: #bdbdbd;
    margin: 20px 0;
    font-weight: 700;
}
.content-box {
    flex: 1;
    padding: 20px 0;
}
.infoBtnPanel {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
}
.more-info-title h1 {
    font-size: 20px;
    margin: 10px 0;
}
.more-info-title {
    margin: 15px 0;
}
.more-info-title-margin {
    margin-right: 20px;
}
.more-info-content-box {
    flex: 1
}
.more-info-phone,.more-info-web,.more-info-email {
    margin: 5px 0;
}
.more-info-phone-center {
    text-align: center;
}
.more-services {
    display: flex;
    flex-wrap: wrap;
    max-width: 270px;
}
.filter-type-place {
    display: flex;
    flex-wrap: wrap;
}
.item-type-place {
    padding: 10px 15px;
    border: 1px solid lightgray;
    border-radius: 18px;
    margin: 0 10px 10px 0;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
    transition: .1s;
}
.item-type-place.active {
    color: white;
    background: #00bcd5;
    border-color: #00bcd5;
}
.filter-action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -40px;
}
.select-action {
    margin-right: 20px;
    margin-top: 35px;
}
.date-action {
    width: 100px;
}
.date-action div {
    width: 100% !important;
}
.filter-search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.search-btn {
    margin-right: 20px;
}
.search-number {
    font-weight: 700;
}
.price-and-count {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.block-range-price {
    width: 265px;
    margin-right: 25px;
}
.input-range {
    margin: 37px 0 10px 0;
}
.text-field-count {
    width: 100px;
    margin-top: -15px;
}
.text-field-count div {
    width: 100% !important;
}

@media (min-width: 0px) and (max-width: 1366px){
    h1 {
        font-size: 20px;
    }
    .filter-content {
        padding: 20px;
    }
    .content-box {
        padding: 10px 0;
    }
    .filter-title {
        margin: 10px 0;
        font-size: 14px;
    }
    .banner-info img {
        zoom: .8;
    }
    .logo {
        zoom: .8;
    }
    .item-type-place {
        padding: 5px 10px;
        margin: 0 5px 5px 0;
        font-size: 12px;
    }
    .more-info-content {
        padding: 20px;
    }
    .more-info-img {
        width: 270px;
        height: 270px;
    }
    .more-info-content {
        font-size: 12px;
    }
    .more-info-title {
        margin: 5px 0;
    }
    .more-info-address {
        margin-bottom: 10px;
    }
    .more-info-title-margin {
        margin-right: 20px;
    }
    .more-info-title h1 {
        margin: 5px 0;
        font-size: 18px;
    }
}

/* Range slider */
.input-range__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #00bcd5;
    border: 1px solid #00bcd5;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 50%;
    -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    width: 1rem; }
.input-range__slider:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
.input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
.input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    -webkit-transform: none;
    transform: none; }

.input-range__slider-container {
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out; }

.input-range__label {
    color: #aaaaaa;
    /*font-family: "Helvetica Neue", san-serif;*/
    font-size: 0.8rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    white-space: nowrap; }

.input-range__label--min,
.input-range__label--max {
    bottom: -1.4rem;
    position: absolute;
display: none;}

.input-range__label--min {
    left: 0; }

.input-range__label--max {
    right: 0; }

.input-range__label--value {
    position: absolute;
    top: -1.8rem; }

.input-range__label-container {
    left: -50%;
    position: relative;
}
.input-range__label--max .input-range__label-container {
    left: 50%; }

.input-range__track {
    background: #eeeeee;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.2rem;
    position: relative;
    -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
    transition: left 0.3s ease-out, width 0.3s ease-out; }
.input-range--disabled .input-range__track {
    background: #eeeeee; }

.input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%; }

.input-range__track--active {
    background: #00bcd5;
}

.input-range {
    height: 1rem;
    position: relative;
    width: 100%; }

/**************************/